{% extends "base.html" %}

{% block content %}

  <h1>{{album.title}}</h1>

  <ul>
    {% for media in medias %}
      <li class="list-unstyled">
        <a href="{% url 'media' media.id %}">
          
          {% if media.is_image %}
            <img src= "{{media.file.url}}">
          {% elif media.is_video %}
            <video src="{{media.file.url}}"></video>
          {% endif %}
          
        </a>
      </li>
    {% empty %}
      <p>No medias added yet.<p>
    {% endfor %}
  </ul>

{% endblock content %}
