{% extends "base.html" %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/album.css' %}">
{% endblock head %}

{% block content %}

  <h1>{{album.title}}</h1>

  <div class="container">
    <div class="row">
      {% for media in medias %}
      <div class="col-sm-3 mb-1">
        <a href="{% url 'media' owner.username media.id %}">
          {% if media.is_image %}
            <img class="album-media" src= "{{media.file.url}}">
          {% elif media.is_video %}
            <video class="album-media" src="{{media.file.url}}"></video>
          {% endif %}
        </a>
      </div>
    {% empty %}
      <p>No medias added yet.<p>
    {% endfor %}
    </div>
  </div>

{% endblock content %}
