{% extends "base.html" %}

{% block content %}

  <body>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo quae aspernatur eligendi vitae voluptas minima vero illum tempora recusandae soluta tenetur, ab ducimus! Harum deleniti voluptatibus quia quae, rem corporis?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate magnam quas fugit vitae deserunt voluptates, error debitis qui aut ratione accusantium, nesciunt necessitatibus numquam illum doloremque ad, id nihil minus.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam vitae magni reiciendis est quibusdam consequatur asperiores assumenda tenetur fuga, itaque nemo porro nulla officiis fugit expedita? Facere id at ipsa!
  </body>

{% endblock content %}
