{% extends "base.html" %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/new_media.css' %}">
  <script src="{% static 'js/new_media.js' %}"></script>
{% endblock head %}

{% block content %}
  <h1 class="display-4 my-3 text-center">New Media</h1>

  <hr class="w-50">

  <form class="m-auto w-50" enctype="multipart/form-data" action="{% url 'new_media' %}" method="post">
    {% csrf_token %}
    <div class="container">
      {% for field in form %}
        {% if field.name == 'file' %}
          <div class="row">
            <div class="col-lg">
              <label for="customFile">Medias: *</label>
              <div class="custom-file mb-3">
                {{ field }}
                <label class="custom-file-label" for="file-input" id="file-label">Choose File</label>
              </div>
            </div>
          </div>

        {% elif field.name == 'title' or field.name == 'artist' %}
          {% if field.name == 'title' %}
            <div class="row">
              <div class="col-lg">
                <div class="form-group">
                  <label for="title">Title:</label>
                  {{ field }}
                </div>
              </div>
          {% elif field.name == 'artist' %}
              <div class="col-lg">
                <div class="form-group">
                  <label for="artist">Artist:</label>
                  {{ field }}
                </div>
              </div>
            </div>
          {% endif %}

        {% elif field.name == 'tags' %}
          <div class="row">
            <div class="col-lg">
              <div class="form-group">
                <label for="tags">Tags:</label>
                {{ field }}
                <small class="form-text text-muted">
                  Seprate tags with commas.Ex: dogs,animal,things
                </small>
              </div>
            </div>
          </div>

        {% elif field.name == 'albums' %}
          <div class="row">
            <div class="col-lg">
              <div class="form-group">
                <label for="albums">Albums:</label>
                {{ field }}
                <small class="form-text text-muted">
                  Hold CRTL to select multiple albums
                </small>
              </div>
            </div>
          </div>
        {% endif %}
      {% empty %}
      {% endfor %}
    </div>
    <button name="submit" class="btn btn-primary">Add Media</button>
  </form>

{% endblock content %}
