{% extends "base.html" %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/search.css' %}">
{% endblock head %}

{% block content %}
  
  <form enctype="multipart/form-data" action="{% url 'search' 1 %}" method="get">
    <div class="container w-75 mt-3">
      <div class="row">
        <div class="col-lg">
          <div class="form-inline">
            <input class="form-control mr-sm-2 ml-4" type="text" placeholder="Search" aria-label="Search" name="q" id="search-box">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg">
          <form>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="albums-checkbox" value="selected" name="albums-checkbox">
              <label class="form-check-label" for="albums-checkbox">Albums</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="medias-checkbox" value="selected" name="medias-checkbox">
              <label class="form-check-label" for="medias-checkbox">Medias</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="users-checkbox" value="selected" name="users-checkbox">
              <label class="form-check-label" for="users-checkbox">Users</label>
            </div>
          </form>
        </div>
      </div>
    </div>
  </form>
  {% if searched_for_medias %}
    <hr class="w-75">
    <div class="container mt-4">
      <div class="row">
        {% for media in medias %}
          <div class="col-sm-3 mb-1">
            <a href="{% url 'media' media.owner.username media.id %}">
              {% if media.is_image %}
                <img class="media" src= "{{media.file.url}}" alt="{{media.file.name}}">
              {% elif media.is_video %}
              <video class="media" poster="https://c.tenor.com/I6kN-6X7nhAAAAAj/loading-buffering.gif" alt="Album Media" autoplay muted loop>
                <source src="{{media.file.url}}">
              </video>
              {% endif %}
            </a>
          </div>
        {% empty %}
          <div class="col">
            {% if page.current_page_num == 1 %}
              <h1>No media tags with your query was found</h1>
            {% else %}
              <h1>No other media tags with your query was found</h1>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}

  {% if searched_for_albums %}
    <hr class="w-75">
    <div class="container">
      <div class="row">
        {% for album in albums %}
          <div class="col-sm-4">
            <a href="{% url 'album' album.owner.username album.title 1 %}">
              {% if album.preview_image_url %}
                {% if album.preview_image_is_image %}
                  <img class="album-preview-image" src="{{album.preview_image_url}}" id="preview-image" alt="Preview image">
                {% elif album.preview_image_is_video %}
                  <video class="album-preview-image" poster="https://c.tenor.com/I6kN-6X7nhAAAAAj/loading-buffering.gif" id="preview-image" alt="Preview image" autoplay muted loop>
                    <source src="{{album.preview_image_url}}">
                  </video>
                {% endif %}
              {% else %}
                <img class="album-preview-image" src="https://vishwaentertainers.com/wp-content/uploads/2020/04/No-Preview-Available.jpg" alt="No Preview Available">
              {% endif %}
              <p class="album-title">{{album.title}}</p>
            </a>
          </div>
        {% empty %}
          <div class="col">
            {% if page.current_page_num == 1 %}
              <h1>No album with your query was found</h1>
            {% else %}
              <h1>No other album with your query was found</h1>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}

  {% if searched_for_users %}
    <hr class="w-75">
    <div class="container">
      <div class="row">
        {% for registered_user in registered_users %}
          <div class="col">
            <a href="{% url 'gallery' registered_user.username 1 %}}">{{registered_user.username}}</a>
          </div>
        {% empty %}
          <div class="col">
            {% if page.current_page_num == 1 %}
              <h1>No usernames with your query was found</h1>
            {% else %}
              <h1>No other usernames with your query was found</h1>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}

  {% if page.is_not_first_page or page.is_not_last_page %}
    <div class="container">
      <div class="row">
        <div class="col">
          {% if page.is_not_first_page %}
            <div class="float-left"></div>
              <form enctype="multipart/form-data" action="{% url 'search' page.previous_page_num %}" method="get">
                <input type="hidden" name="q" value="{{query}}">
                {% if searched_for_albums %}
                  <input type="hidden" value="selected" name="albums-checkbox">
                {% endif %}
                {% if searched_for_medias %}
                  <input type="hidden" value="selected" name="medias-checkbox">
                {% endif %}
                {% if searched_for_users %}
                  <input type="hidden" value="selected" name="users-checkbox">
                {% endif %}
                <button class="btn btn-primary" type="submit" value="{{query}}"><< Previous</button>
              </form>
            </div>
          {% endif %}
          {% if page.is_not_last_page %}
            <div class="float-right">
              <form enctype="multipart/form-data" action="{% url 'search' page.next_page_num %}" method="get">
                <input type="hidden" name="q" value="{{query}}">
                {% if searched_for_albums %}
                  <input type="hidden" value="selected" name="albums-checkbox">
                {% endif %}
                {% if searched_for_medias %}
                  <input type="hidden" value="selected" name="medias-checkbox">
                {% endif %}
                {% if searched_for_users %}
                  <input type="hidden" value="selected" name="users-checkbox">
                {% endif %}

                <button class="btn btn-primary" type="submit" value="{{query}}">Next >></button>
              </form>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}

{% endblock content %}