{% extends "base.html" %}

{% block content %}
  <h1 class="display-4 my-3 text-center">Login to your account</h1>

  <hr class="w-50">
  <form method="post" action="{% url 'login' %}" class="form m-auto w-50">
    {% csrf_token %}
    <div class="container">
      <div class="row">
        <div class="col-lg">
          <div class="form-group">
            <label for="id_username">Username:</label>
            {{form.username}}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg">
          <div class="form-group">
            <label for="id_password">Password:</label>
            {{form.password}}
          </div>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-lg">
          <small class="">
            <strong class="text-danger">{{form.error_message}}</strong>
          </small>
        </div>
      </div>
    </div>

    <button name="submit" class="btn btn-primary">Log in</button>
  </form>

{% endblock content %}
